# logs
/logs

# environment vars
.env

# vendor and assets
node_modules
/vendor/*
/public/assets/*
/public/themes/*
!/public/assets/modified
/.docs/.out/*

# ccda service build
ccdaservice/node_modules

# dev editor configs
/.idea/*
/.vscode/*
/nbproject/*
.DS_Store
.buildpath
.project
.settings

# testing
.phpunit.result.cache
coverage/js-unit

/vendor/**/.git
/logs
.env
/.idea/*
sites/default/documents
sites/default/documents/message_attachments
modules/eligibility_check/log/cronlog.log
sites/default/newcrop-cookiefile
public/images/login-logo.png
sites/default/config.php
sites/default/config.php.backup21Sept2020
sites/default/config_backup.php
sites/default/odbcconf.php
sites/default/sqlconf.php
sites/default/labs
sites/default/images
sites/default/documents_bfr_import
*.backup*
*.log
*.pdf*
*.lock
*.sh
*.txt
*.backup
!sites/default/documents/certificates
!sites/default/documents/custom_menus
!sites/default/documents/erx_error
!sites/default/documents/logs_and_misc
!sites/default/documents_bfr_import/certificates
!sites/default/documents_bfr_import/custom_menus
!sites/default/documents_bfr_import/erx_error
!sites/default/documents_bfr_import/logs_and_misc
sites/default/documents
sites/default/documents
sites/default/old-documents/.htaccess
sites/default/old-documents/certificates/README.md
sites/default/old-documents/couchdb/README
sites/default/old-documents/custom_menus/Custom.json
sites/default/old-documents/custom_menus/patient_menus/Custom.json
sites/default/old-documents/edi/README.txt
sites/default/old-documents/era/README.txt
sites/default/old-documents/letter_templates/sample
sites/default/old-documents/logs_and_misc/methods/README.md
sites/default/old-documents/mpdf/pdf_tmp/README
sites/default/old-documents/onsite_portal_documents/templates/Help.tpl
sites/default/old-documents/onsite_portal_documents/templates/Hipaa_Document_Oemr.tpl
sites/default/old-documents/onsite_portal_documents/templates/Insurance_Info.tpl
sites/default/old-documents/onsite_portal_documents/templates/Medical_History.tpl
sites/default/old-documents/onsite_portal_documents/templates/Privacy_Document.tpl
sites/default/old-documents/procedure_results/README
sites/default/old-documents/smarty/gacl/README
sites/default/old-documents/smarty/main/README
sites/default/old-documents/temp/README
sites/default/sqlconf.php
sites/default/odbcconf.php
public/images/login-logo.png
interface/reports/jasperreport/cos.pdf